<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Forma 1: aca se van agregando manualmente cada objecto
    <bean id="calculadora" class="org.example.Calculadora">
    </bean>

    <bean id="gestorFacturas" class="org.example.GestorFacturas">
        <constructor-arg name="calculadora" ref="calculadora"></constructor-arg>
        <constructor-arg name="nombre" value="Facturator 3000"></constructor-arg>

    </bean>
    -->
    <!-- Forma 2: Indicarle a Spring que haga un scan automatico de los objectos del paquete -->
    <context:component-scan base-package="org.example"/>

</beans>
